/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

h1{
    color: #e53170;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

p{
    margin-bottom: 1.5em;
}

/* MAIN */
.main-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cards-container{
    padding: 2em;
}

/* columns */
.column{
    height: 130px;
    width: calc(100% / 3 - 1em);
    background-color: #0f0e17;
    float: left;
    margin-right: 1em;
    margin-top: 2em;
}

.row::after{
    content: "";
    display: table;
    clear: both;
    
}

/* cards */
div img{
    height: 100%;
    width: 35%;
    float: left;
    margin-right: 0.5em;
}

h2{
    color: white;
    margin-top: .8em;
}

h3{
    color: white;
    margin-top: .8em;
    font-weight: 400;
}

h4{
    color: #6ecbeb;
    margin-top: 1em;
    font-weight: 400;
}

.card-data{
    text-align: left;
    
}

a{
    color: #6ecbeb;
    display: inline-block;
    padding-top: 1em;
    font-weight: 400;
    text-decoration: none;
    
}

a:hover{
    font-size: 1.1rem;
}
