/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

h1{
    color: #e53170;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

p{
    margin-bottom: 1.5em;
}

/* MAIN */
.main-container{
    width: 80%;
    margin: 0 auto;
    background-color: aquamarine;
    text-align: center;
}

.cards-container{
    padding: 2em;
}

/* columns */
.column{
    height: 150px;
    width: calc(100% / 3 - 1em);
    background-color: #0f0e17;
    float: left;
    border: 2px solid white;
    margin-right: 1em;
    margin-top: 2em;
}

.row::after{
    content: "";
    display: table;
    clear: both;
    
}

/* cards */
div img{
    height: 100%;
    width: 35%;
    float: left;
}

h2, h3{
    color: white;
}

h4{
    color: blue;
}

.card-data{

}

